{%extends "layout.html"%}
{%block body%}
<div class="bd-example">
    <div class="card">
        <h1>THE BE KIND CORNER</h1>
        <p>Welcome to "The Be Kind Corner" where  people can upload positive messages and articles in hopes to decrease the negative impact bullying has. Read, share and write articles about people being care!</p>
    </div>


    <div class="row">
        <div>
            <img src="{{ url_for('static', filename= 'believe.jpg')}}" alt="Blog" class="column">
        </div>
        <div>
            <img src="{{ url_for('static', filename= 'anti-bullying.jpg')}}" alt="Blog" class="column">
        </div>
        <div>
            <img src="{{ url_for('static', filename= 'be kind.jpg')}}" alt="Blog" class="column">
        </div>
    </div>



    <table>
        {% for article in results %}
        {% endfor %}
    </table>
    <div class="rightcolumn">
        <div class="card1">
                <h2>Rules:</h2>
            <ul>
                <li>No demeaning individuals or groups</li> 
                <li>Don't resort to personal attacks when a article is against your stand</li>
                <li>Be respectful</li>
            </ul>
        </div>
        
        <div class="card1">
                <h2>Top quotes:</h2>
            <ol>
                <li>“We can’t help everyone, but everyone can help someone.” – Ronald Reagan</li>
                <li>“Wherever there is a human being, there is an opportunity for a kindness.” – Lucius Annaeus Seneca</li>
                <li>“Unexpected kindness is the most powerful, least costly, and most underrated agent of human change.” – Bob Kerrey</li>
            </ol>
         </div>

        <div class="card">
            <h3>Stories:</h3>
            <div class="img">
                <img src="{{ url_for('static', filename= 'coffee.png')}}">
                <p>Chicago Coffee Shop Owner Has Collected 6,000 Warm Coats for the Homeless–And Delivered Them With Coffee</p>
                <img src="{{ url_for('static', filename= 'teenager.jpg')}}">
                <p>Lichfield teenager carries out acts of kindness to help lonely</p>
            </div>
        </div>
    </div>
</div>
{%endblock%}