<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename= 'style.css')}}">
    <title>Document</title>

</head>

<!-- Navigation bar -->
<body>
    <div class="topnav">
        <a class="active" href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('article')}}">Article</a>
        <a href="{{url_for('contact')}}">Contact</a>
        <a href="{{url_for('login')}}">Login</a>
        <a href="{{url_for('profile')}}">Profile</a>
        <a class= "logoutbutton" href="{{ url_for('logout') }}" type="button" onclick="alert('You have successfully logged out!')">Logout</a>
    </div>

    <div>
        
    </div>

<!-- Log out warning -->    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {%block body%}
    {%endblock%}
</body>

</html>