{%extends "layout.html"%}
{%block body%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" href="{{url_for('static',filename= 'style.css')}}">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<!-- Login layout -->
<body>
  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="dog">
            <form method="POST">
              <!-- Image -->
              <div class="imgcontainer">
                <img src="{{ url_for('static', filename= 'Profile.png')}}" alt="Avatar" class="avatar">
              </div>
              <!-- Username box -->
              <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="username" placeholder="Username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <!-- Password box -->
              <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" name="password" placeholder="Password">
                  <span class="lock">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <!-- Login and register button -->
              <div class="field">
                <p class="control">
                  <button type="submit" class="login">
                    Login
                  </button>
                  <button type="submit" class="registerbtn" name="register" value="1">
                    Register
                  </button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>

{%endblock%}